* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25150E;
}

.barra {
    position: relative;
    top: -395px;
    width: 1950px;
    height: 150px;
    background-color: #ECDAC4;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
}

.logo {
    position: absolute;
    top : 25px;
    left: 25px;
    width: 100px;
    height: 100px;
    border: 8px solid #ffefdb;
    box-shadow: 0 0 0 12px #352a22;
    border-radius: 10px 10px 60px 75px;
    background: url('images/coffee.png');
    background-repeat: repeat-x;
    background-position: 0 130px;
    animation: enchendo 4s infinite;
}

@keyframes enchendo {
    0%, 100% {
        background-position: 0 130px;
    }

    50% {
        background-position: 600px -70px;
    }
}

.logo .logo-apoio {
    position: absolute;
    top: -2px;
    right: -50px;
    width: 30px;
    height: 60px;
    border: 7px solid #352a22;
    border-radius: 20px 10px 50px 20px;
}

.logo .logo-texto {
    position: absolute;
    right: -500px;
    font: 1000 3rem 'Montserrat';
    background: linear-gradient(to right, #C08C5A, #25150E, #ECDAC4);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:#25150E -2px 0, #C08C5A 2px 0;
}


.caixa {
    position: absolute;
    width: 480px;
    height: 480px;
    background: #f4f7f8;
    border-radius: 12px;
}

.caixa .caixa-like {
    position: absolute;
    top: 350px;
    left: 15px;
    width: 30px;
    height: 30px;
    background: url('images/like.png');
    background-repeat: no-repeat;
}

.caixa-like:hover{
    opacity: 0.5;
}

.caixa .caixa-comentarios {
    position: absolute;
    top: 350px;
    left: 50px;
    width: 30px;
    height: 30px;
    background: url('images/comentarios.png');
    background-repeat: no-repeat;
}

.caixa-comentarios:hover{
    opacity: 0.5;
}

.caixa .caixa-compartilhar {
    position: absolute;
    top: 350px;
    left: 85px;
    width: 30px;
    height: 30px;
    background: url('images/compartilhar.png');
    background-repeat: no-repeat;
}

.caixa-compartilhar:hover{
    opacity: 0.5;
}

.caixa .caixa-salvarcaixa {
    position: absolute;
    top: 350px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url('images/salvar.png');
    background-repeat: no-repeat;   
}

.caixa-salvarcaixa:hover{
    opacity: 0.5;
}

.caixa .caixa-etc {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url('images/etc.png');
    background-repeat: no-repeat;  
}

.caixa-etc:hover{
    opacity: 0.5;
}

.caixa .caixa-usuario {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: url('images/aesthetic22.png');
    background-repeat: no-repeat;   
    background-size: cover;
    border-radius: 5px;
}

.caixa .caixa-usuario .caixa-usuario-string{
    position: relative;
    left: 50px;
    font: 20px 'Montserrat';
}

.caixa-usuario:hover{
    width: 40px;
    height: 40px;
}

.caixa .caixa-post {
    position: relative;
    top : 70px;
    width: cover;
    height: 280px;
    background: url('images/aesthetic8.jpg');
    background-size: cover;
    border-width: 10px;
    border-style :outset;
    border-color: #25150E;
}

.quadro {
    position: relative;
    top: 20px;
    left: 1600px;
    width: 80px;
    height: 105px;
    font-family: 'Open Sans';
}

.quadro .quadro-dentro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.quadro .perfil img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 12px solid rgba(255, 255, 255, .05);
}

.quadro .perfil {
    transform: translateY(20px);
    transition: .4s ease-out;
}

.quadro:hover .perfil {
    transform: translateY(0);
}